// HEADER

.port-navbar.port-default {
  background-color: black;
  width: 100%;
  z-index: 15;
  padding: 40px;

  &.with-bg {
    padding: 30px;
  }

  .port-navbar {
    &-brand {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: white;
      }

      &:hover,
      &:focus {
        color: rgb(222, 203, 4) !important;
      }
    }
  }
}

.port-dropdown-menu {
  .port-dropdown-item {
    &.active {
      color: rgb(222, 203, 4);
    }
  }

  .port-dropdown-toggle {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.dropdown-menu {
  background-color: rgb(38, 38, 38);
}

.dropdown-item {
  &:hover,
  &:active {
    background-color: rgb(30, 30, 30);
  }
  &:focus {
    background-color: rgb(38, 38, 38);
    color: rgb(222, 203, 4) !important;
  }
}

.port-navbar.transparent.is-open {
  background-color: #black;
}

.port-navbar.transparent.is-close {
  transition: 1s;
}
