@import "./shared/fonts";
@import "./index";

// Components
@import "./components/header";
@import "./portfolios";
@import "./blogs";
@import "./about";
@import "./components/portfolioforms";

html,
body {
  height: 100%;
  width: 100%;
  background-color: black !important;
  font-family: "Montserrat", "Helvetica" !important;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding: 150px 0;
  color: white;
  background-color: rgb(26, 26, 26);
  min-height: 100vh;
  .page-header-title {
    display: inline-block;
    margin-bottom: 20px;
  }
}
.absolute {
  position: absolute;
}

.self-typed {
  font-size: 2.5vh !important;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
@media (max-width: 991px) {
  .self-typed {
    font-size: 20px;
  }
}
